body {
  background-color: #1C1E24;
  color: #F3FFBD;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width: 400px) {
  body {
    background-color: lightblue
  }
}


@media only screen and (min-width: 400px) {
  .flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  /* width of these items determines space used on page */
  .flexItem-a {
    background: tomato;
    padding: 5px;
    margin: 5px;
    width: 75%;
    margin-top: 10px;
  }

  .flexItem-b {
    background: tomato;
    padding: 5px;
    margin: 5px;
    width: 25%;
    height: 150px;
    margin-top: 10px;
  }
}

.click:hover {
  background-color: orange;
}